<div class="receipt-item" style="font-family: 'Courier New', monospace; width: 100%; font-size: 11px; color: #000; margin-bottom: 20px;">
    <div style="text-align: center;">
        <strong>{{ company_name }}</strong><br>
        <div style="border-top: 1px dashed #000; margin: 5px 0;"></div>
        CUPOM DE ITEM #{{ sale_id }}<br>
        {{ timestamp.strftime('%d/%m/%Y %H:%M:%S') }}
        <div style="border-top: 1px dashed #000; margin: 5px 0;"></div>
    </div>
    <div>
        PRODUTO: {{ item.name }}<br>
        QTD: {{ item_quantity }} x R$ {{ "%.2f"|format(item_price) }}<br>
        <span style="font-weight: bold;">SUBTOTAL: R$ {{ "%.2f"|format(item_subtotal) }}</span>
    </div>
    <div style="border-top: 1px dashed #000; margin: 5px 0;"></div>
    <div style="text-align: center;">
        Pagamento: {{ payment_method }}<br>
        Obrigado e volte sempre!
    </div>
</div>